td.blob-code.blob-code-inner {
  padding-left: 13px;
}
.collapser {
  margin-left: -16px;
  margin-right: 2px;
  padding-right: 6px;
  opacity: 0.5;
}

.collapser:hover {
  opacity: 1;
}

.collapser > svg {
  transition: 0.15s ease-in-out;
}

.sideways > svg {
  transform: rotate(-90deg);
  transform-origin: center;
  opacity: 0.8;
}

.hidden-line {
  display: none;
}

.ellipsis {
  padding: 1px 2px;
  margin-left: 2px;
  cursor: pointer;
  background: rgba(255, 235, 59, 0.4);
}

.ellipsis:hover {
  background: rgba(255, 235, 59, 0.7);
}